
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    <p>Skriv værdier for hver måned og generer et barchart ud af dette.</p>
    <div class="row">
        @for (int i = 1; i < 13; i++)
        {
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</label>
                    <input type="number" value="" name="xValues" class="form-control" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-12">
        <input type="submit" value="lav chart" class="btn btn-primary" />
    </div>
}

<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
            <div class="panel">
                <div class="panel-body">
                    <h4>
                        Din barchart
                    </h4>
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ToArray(), 0,Model.ToArray().Length))" />
                </div>
            </div>
        }
    </div>
</div>
